<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <img src="Assets/images/letsconnectimages.png" width="575px" height="125px" class="pr-3"/>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      

      <img src="Assets/images/pngkey.com-contact-me-png-2900431.png" width="455px" height="85px" class="pr-3"/>
      <h1>pjeffers@my.centennialcollege.ca</h1>
      <form action="/action_page.php">
      <label for="instruction">Please enter your information:</label><br>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="phone number">Phone number:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="email">Email:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="message">Message:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <input type="submit" value="Submit">
</form>
    </div>
  </main>
  


<%- include partials/footer.ejs %>


<%- include partials/bottom_nav.ejs %>
  




