<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <body style="background-image:url('Assets/images/contemporary-hilltop-jewel-in-Honolulu.jpg');background-repeat:no-repeat;background-size:1540px 700px">
     <main class="container" >
    <div>
      
      <h1 class="display-4" id="back">Welcome to the <%= title %> page</h1>
      <img src="Assets/images/staywhile.jpg" width="375px" height="125px" class="pr-3"/>
    </div>
  </main>
  </body>
 
  


<%- include partials/footer.ejs %>

<%- include partials/bottom_nav.ejs %>
  




